
body{
    background-color: #d3e1e0;
    color: #f4faff;
    min-height: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
}

html, body{
    height: 100%;
    margin: 0;
}

.wrapper{
    min-height: 100%;
    margin-bottom: -25px;
}

.footer, .push {
    height: 25px;
}

main{
    padding-top: 70px;
    padding-bottom: 50px; 
}

.logo{
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu{
    display: flex;
}

ul{
    list-style: none;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

.menu li a{
    padding: 10px 15px;
    color: #f4faff;
}

.menu li a:hover{
    background-color: #f4faff;
    color: #9bb8b6;
    transition: all ease 0.4s;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 50px;
    position: fixed;
    background: #9bb8b6;
    box-shadow: 2px 5px 12px rgba(4, 70, 75, 0.5);
    z-index: 1;
}

nav div a{
    color: #f4faff;
}

#userIcon{
    width: 27px;
    height: auto;
}

.centeralign{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.footer{
    color: #f4faff;
    background-color: #9bb8b6;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1em;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#leaveleft{
    width: 20px;
    height: 20px;
}

#leaveright{
    width: 20px;
    height: 20px;
}

.welcome img{
    padding: 10px;
}

.hrline{
    display: flex;
    justify-content: center;
}
.line{
    border-bottom: 3px solid  #f4faff;
    display: block;
    width: 50vw;
    text-align: center;
}

.home-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #285943;
}

.recommendation-right{
    display: flex;
    flex-direction: column;
    align-items: left ;
}

#home-bookcover{
    padding-right: 20px;
}

.fontcolor{
    color:#285943;
}

#evergreenlogo{
    width: 50px;
    height: auto;
    padding-right: 10px;
}

#signin {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    background-color: #d3e1e0;
    padding: 10px;
}
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 1);
    border: 0px solid #285943;
    text-align: center; 
    font-size: 24px;
    filter: drop-shadow(8px 4px 3px #656565)
}

.centertext{
    text-align: center;
}

.community{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community section{
    width: 70%;
    background-color: #bbd3d1;
    margin-top: 50px;
    height: 300px;
    border-radius: 10px;
}

.community section h2{
    width: 100%;
    height: 10%;
    background-color: #9bb8b6;
    margin-top:0px;
    border-radius: 10px 10px 0px 0px;
}

.community div p{
    padding-left: 10px;
}

.community div p:hover{
    background-color: #9bb8b6;
    padding-top: 5px;
    padding-bottom: 5px;
}