
body{
    background-color: #d3e1e0;
    color: #f4faff;
    padding-top: 70px;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 100vw;
}
  
.logo{
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu{
    display: flex;
}

ul{
    list-style: none;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

.menu li a{
    padding: 10px 15px;
    color: #f4faff;
}

.menu li a:hover{
    background-color: #f4faff;
    color: #9bb8b6;
    transition: all ease 0.4s;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 50px;
    position: fixed;
    background: #9bb8b6;
    box-shadow: 2px 5px 12px rgba(4, 70, 75, 0.5);
}

nav div a{
    color: #f4faff;
}

#userIcon{
    width: 27px;
    height: auto;
}

.centeralign{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.footer{
    color: #f4faff;
    background-color: #9bb8b6;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    position: fixed;
    padding-left: 10px;
    font-size: 1em;
}

.welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#leaveleft{
    width: 20px;
    height: 20px;
}

#leaveright{
    width: 20px;
    height: 20px;
}

.welcome img{
    padding: 10px;
}

.hrline{
    display: flex;
    justify-content: center;
}
.line{
    border-bottom: 3px solid  #f4faff;
    display: block;
    width: 50vw;
    text-align: center;
}

.home-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #285943;
}

.recommendation-right{
    display: flex;
    flex-direction: column;
    align-items: left ;
}

#home-bookcover{
    padding: 20px;
}

.fontcolor{
    color:#285943;
}

#evergreenlogo{
    width: 50px;
    height: auto;
    padding-right: 10px;
}

#signin {
    width: 100%;
    display: flex;
    justify-content: center;
}

