{% extends 'base.html' %}

{% block head%}{% endblock %}

{% block body%}
<div class="about">
    
</div>




<div style="<div style="width:1000px;height:1000x;overflow:hidden; >
    <img id="about-forest" src="{{url_for('static', filename='pixel_forest.gif')}}" width="600px" height="auto" class="center"/>
</div>

<h2 style="font-size: 1.5em; margin-top:50px;" class="centertext">Welcome to the Evergreen Library, a forest full of stories and knowledge. 
</h2>
<div class="hrline">
    <span class="line"></span>
</div>
<h2 style="font-size: 1em; margin-top:40px;" class="centertext">Explore the woodlands to your heart's content, be it fact or fiction. 
</h2>

<h2 style="font-size: 1em; margin-top:40px;" class="centertext">Or, discuss amongst like-minded travellers. 
</h2>

<h2 style="font-size: 2em; margin-top:70px;" class="centertext">The journey is yours. 
</h2>
<div class="hrline">
    <span class="line"></span>
</div>

    

{% endblock %}