{% extends 'base.html' %}

{% block head%}{% endblock %}

{% block body%}

<h1>Fiction Genres</h1>

<div class="grid-container">
  <div><a href="fantasy.html">Fantasy</a></div>
  <div>Science Fiction</div>
  <div><a href="historical.html">Historical Fiction</a></div>
  <div>Crime/Mystery</div>
  <div>Romance</div>
  <div>Humor</div>
  <div>Fairytale</div>
  <div>Short Stories</div>
</div>

<h1>Non-Fiction Genres</h1>

<div class="grid-container">
  <div>Biography</div>
  <div>Self-Help</div>
  <div>Reference</div>  
  <div>Textbooks</div>
  <div>Narrative</div>
  <div>Cooking</div>
</div>


{% endblock %}



